.transformer_item_wrapper {
  margin-bottom: 1rem;
}

.transformer_item_wrapper {
  border: 1px solid lightgrey;
  border-radius: 4px;
  min-width: 220px;
}

.transformer_item_wrapper:hover {
  background-color: whitesmoke;
}

.transformer_item {
  display: block;
  padding: 1rem 1.75rem 1rem 1.75rem;
  color: black;
}

.transformer_item:active {
  color: red;
}

.transformer_item_name {
  margin-bottom: 0.4rem;
}
