.battle_result_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.battlers_display_reverse {
  flex-direction: row-reverse;
}

.battle_result_item_wrapper {
  flex: 3;
}

.battle_result_log_wrapper {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
