.battle_results_container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.battle_results_score {
  text-align: center;
}

.battle_allegiances_container {
  display: flex;
  justify-items: center;
  margin-top: 0.8rem;
}

.battle_allegiances_item {
  flex: 1;
  text-align: center;
}

.battle_allegiances_image {
  width: 40px;
  height: auto;
}
