.form_fields_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.form_field_container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 1.5rem;
}

.form_field_label {
  margin-bottom: 0.25rem;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}

.action_button {
  cursor: pointer;
  font-size: 14px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-right: 1rem;
  border-radius: 4px;
}

.action_button:hover {
  background-color: whitesmoke;
}
